USE [master]
GO
/****** Object:  Database [AtakanAcaroglu20202425001]    Script Date: 24.12.2021 19:27:39 ******/
CREATE DATABASE [AtakanAcaroglu20202425001]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AtakanAcaroglu20202425001', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AtakanAcaroglu20202425001.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AtakanAcaroglu20202425001_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AtakanAcaroglu20202425001_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AtakanAcaroglu20202425001].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AtakanAcaroglu20202425001]
GO
/****** Object:  Table [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SATILAN_URUN_KODU] [int] NOT NULL,
	[SATILAN_URUN_ADI] [nvarchar](50) NOT NULL,
	[URUN_SATIS_TARIHI] [datetime2](7) NOT NULL,
	[URUN_SATIS_ADETI] [int] NOT NULL,
	[SATIS_KANALI] [int] NOT NULL,
	[SATIN_ALAN_MUSTERI_ID] [int] NOT NULL,
	[HATALI_URUN_SAYISI] [int] NULL,
	[HATA_ACIKLAMASI_ID] [int] NULL,
	[MAL_GRUBU_] [int] NOT NULL,
	[ISKONTO_ORANI] [int] NOT NULL,
	[SATIS_SORUMLUSU] [int] NOT NULL,
	[ODENME_YONTEMI] [int] NOT NULL,
	[BIRIM_FIYATI] [decimal](18, 2) NULL,
	[ISKONTO_UYGULANMIS_FIYAT] [decimal](18, 2) NULL,
 CONSTRAINT [PK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AYLIK_URETILEN_URUN_KODU] [int] NOT NULL,
	[AYLIK_URETILEN_URUN_ADI] [nvarchar](50) NULL,
	[AYLIK_URUN_URETIM_TARIHI] [datetime2](7) NOT NULL,
	[AYLIK_URETIM_HEDEFI] [int] NOT NULL,
	[URUN_URETEN_ID] [int] NOT NULL,
	[URUN_URETIM_HATTI] [int] NOT NULL,
	[AYLIK_GERCEKLESEN_URETIM] [int] NOT NULL,
 CONSTRAINT [PK_AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COGRAFIK_BOLGELER_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COGRAFIK_BOLGELER_20202425001](
	[COGRAFIK_BOLGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[COGRAFIK_BOLGE_ADI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_COGRAFIK_BOLGELER_20202425001] PRIMARY KEY CLUSTERED 
(
	[COGRAFIK_BOLGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HAMMEDDELER_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HAMMEDDELER_20202425001](
	[HAMMADDE_ID] [int] IDENTITY(1,1) NOT NULL,
	[HAMMADDE_ADI] [nvarchar](50) NOT NULL,
	[TEDARIKCI_ID] [int] NULL,
	[HAMMADDE_CIKARILAN_COGRAFIK_BOLGE] [int] NULL,
	[TEDARIKCI_UNVANI] [nvarchar](50) NULL,
	[TEDARIKCI_ADRESI] [nvarchar](50) NULL,
	[TEDARIKCI_TELEFON_NO] [nvarchar](15) NULL,
 CONSTRAINT [PK_HAMMEDDELER_20202425001] PRIMARY KEY CLUSTERED 
(
	[HAMMADDE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HATALI_URUNLER_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HATALI_URUNLER_20202425001](
	[HATA_ID] [int] IDENTITY(1,1) NOT NULL,
	[TARIH] [datetime] NULL,
	[HATA_ACIKLAMASI] [nvarchar](50) NULL,
 CONSTRAINT [PK_HATALI_URUNLER_20202425001] PRIMARY KEY CLUSTERED 
(
	[HATA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ISKONTOLAR_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISKONTOLAR_20202425001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[YAPILACAK_ISKONTO_ORANI] [int] NULL,
 CONSTRAINT [PK_ISKONTOLAR_20202425001] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KREDİ_KARTLI_SATIŞLAR_/_EFT_HAVALE_SATIŞLAR_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KREDİ_KARTLI_SATIŞLAR_/_EFT_HAVALE_SATIŞLAR_20202425001](
	[ODEME_YONTEMI_ID] [int] IDENTITY(1,1) NOT NULL,
	[ODEME_YONTEMI] [nvarchar](50) NULL,
 CONSTRAINT [PK_KREDİ_KARTLI_SATIŞLAR_/_EFT_HAVALE_SATIŞLAR_20202425001] PRIMARY KEY CLUSTERED 
(
	[ODEME_YONTEMI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAL_GRUPLARI_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAL_GRUPLARI_20202425001](
	[MAL_GRUBU_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAL_GRUBU] [nvarchar](50) NULL,
 CONSTRAINT [PK_MAL_GRUPLARI_20202425001] PRIMARY KEY CLUSTERED 
(
	[MAL_GRUBU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001](
	[CALISAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[CALISAN_SICIL_NO] [int] NOT NULL,
	[CALISAN_ADI] [nvarchar](50) NOT NULL,
	[CALISAN_SOYADI] [nvarchar](50) NOT NULL,
	[CALISAN_MAAS] [decimal](18, 2) NOT NULL,
	[CALISAN_ISE_GIRIS_TAR] [datetime] NOT NULL,
	[CALISAN_TELEFON_NO] [nvarchar](15) NOT NULL,
	[CALISAN_YAKA_TIPI] [nvarchar](5) NOT NULL,
	[CALISAN_URETIM_HATTI] [int] NULL,
 CONSTRAINT [PK_MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001] PRIMARY KEY CLUSTERED 
(
	[CALISAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERILER_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERILER_20202425001](
	[MUSTERI_ID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERI_ADI] [nvarchar](50) NOT NULL,
	[MUSTERI_YASADIGI_IL] [nvarchar](50) NULL,
	[MUSTERI_YASADIGI_COGRAFIK_BOLGE] [int] NULL,
 CONSTRAINT [PK_MUSTERILER_20202425001] PRIMARY KEY CLUSTERED 
(
	[MUSTERI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATIS_KANALLARI_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIS_KANALLARI_20202425001](
	[SATIS_KANALI_ID] [int] IDENTITY(1,1) NOT NULL,
	[SATIS_KANALI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_SATIS_KANALLARI_20202425001] PRIMARY KEY CLUSTERED 
(
	[SATIS_KANALI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATIŞ_SORUMLULARI_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIŞ_SORUMLULARI_20202425001](
	[SATIS_SORUMLUSU_ID] [int] IDENTITY(1,1) NOT NULL,
	[SATIS_SORUMLUSU_ISMI] [nvarchar](50) NOT NULL,
	[SATIS_SORUMLUSU_SOYISMI] [nvarchar](50) NOT NULL,
	[SATIS_SORUMLUSU_TEL_NO] [nvarchar](15) NULL,
	[SATIS_SORUMLUSU_MAAS] [decimal](18, 2) NOT NULL,
	[SATIS_HEDEFI] [int] NULL,
	[YAPTIGI_SATIS_ADETI] [int] NULL,
 CONSTRAINT [PK_SATIŞ_SORUMLULARI_20202425001] PRIMARY KEY CLUSTERED 
(
	[SATIS_SORUMLUSU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEVKIYATLAR_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEVKIYATLAR_20202425001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SEVKIYAT_CIKIS_YERI] [int] NULL,
	[SEVKIYAT_TARIHI] [datetime] NULL,
	[SEVKIYAT_SIRKETI] [nvarchar](50) NULL,
	[SEVKIYAT_VARIS_NOKTASI] [int] NULL,
 CONSTRAINT [PK_SEVKIYATLAR_20202425001] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URETIM_HATLARI_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URETIM_HATLARI_20202425001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URETIM_HATTI] [nvarchar](50) NULL,
 CONSTRAINT [PK_URETIM_HATLARI_20202425001] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URETIM_RECETELERI_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URETIM_RECETELERI_20202425001](
	[URETIM_RECETE_ID] [int] IDENTITY(1,1) NOT NULL,
	[GEREKLI_HAMMADDELER] [int] NULL,
 CONSTRAINT [PK_URETIM_RECETELERI_20202425001] PRIMARY KEY CLUSTERED 
(
	[URETIM_RECETE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUNLER_20202425001]    Script Date: 24.12.2021 19:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUNLER_20202425001](
	[URUN_ID] [int] IDENTITY(1,1) NOT NULL,
	[URUN_ADI] [nvarchar](50) NOT NULL,
	[URETIM_RECETESI] [int] NOT NULL,
	[SATIS_SORUMLUSU] [int] NOT NULL,
	[SATIN_ALAN_MUSTERI] [int] NOT NULL,
	[BIRIM_FIYAT] [decimal](18, 2) NOT NULL,
	[MAL_GRUPLARI] [int] NOT NULL,
 CONSTRAINT [PK_URUNLER_20202425001] PRIMARY KEY CLUSTERED 
(
	[URUN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] ON 

INSERT [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] ([ID], [SATILAN_URUN_KODU], [SATILAN_URUN_ADI], [URUN_SATIS_TARIHI], [URUN_SATIS_ADETI], [SATIS_KANALI], [SATIN_ALAN_MUSTERI_ID], [HATALI_URUN_SAYISI], [HATA_ACIKLAMASI_ID], [MAL_GRUBU_], [ISKONTO_ORANI], [SATIS_SORUMLUSU], [ODENME_YONTEMI], [BIRIM_FIYATI], [ISKONTO_UYGULANMIS_FIYAT]) VALUES (1, 1, N'Iphone7', CAST(N'2021-01-01T00:00:00.0000000' AS DateTime2), 1000, 1, 1, 17, 1, 1, 1, 1, 1, CAST(1000.00 AS Decimal(18, 2)), CAST(900.00 AS Decimal(18, 2)))
INSERT [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] ([ID], [SATILAN_URUN_KODU], [SATILAN_URUN_ADI], [URUN_SATIS_TARIHI], [URUN_SATIS_ADETI], [SATIS_KANALI], [SATIN_ALAN_MUSTERI_ID], [HATALI_URUN_SAYISI], [HATA_ACIKLAMASI_ID], [MAL_GRUBU_], [ISKONTO_ORANI], [SATIS_SORUMLUSU], [ODENME_YONTEMI], [BIRIM_FIYATI], [ISKONTO_UYGULANMIS_FIYAT]) VALUES (2, 2, N'Samsung Tablet', CAST(N'2021-04-02T00:00:00.0000000' AS DateTime2), 4389, 2, 2, 0, NULL, 2, 2, 4, 2, CAST(2000.00 AS Decimal(18, 2)), CAST(1700.00 AS Decimal(18, 2)))
INSERT [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] ([ID], [SATILAN_URUN_KODU], [SATILAN_URUN_ADI], [URUN_SATIS_TARIHI], [URUN_SATIS_ADETI], [SATIS_KANALI], [SATIN_ALAN_MUSTERI_ID], [HATALI_URUN_SAYISI], [HATA_ACIKLAMASI_ID], [MAL_GRUBU_], [ISKONTO_ORANI], [SATIS_SORUMLUSU], [ODENME_YONTEMI], [BIRIM_FIYATI], [ISKONTO_UYGULANMIS_FIYAT]) VALUES (3, 7, N'Iphone 8', CAST(N'2020-07-12T00:00:00.0000000' AS DateTime2), 7214, 1, 3, 1, 2, 1, 3, 3, 3, CAST(3000.00 AS Decimal(18, 2)), CAST(2400.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001] ON 

INSERT [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001] ([ID], [AYLIK_URETILEN_URUN_KODU], [AYLIK_URETILEN_URUN_ADI], [AYLIK_URUN_URETIM_TARIHI], [AYLIK_URETIM_HEDEFI], [URUN_URETEN_ID], [URUN_URETIM_HATTI], [AYLIK_GERCEKLESEN_URETIM]) VALUES (1, 1, N'Iphone7', CAST(N'2021-01-01T00:00:00.0000000' AS DateTime2), 5000, 1, 2, 4200)
INSERT [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001] ([ID], [AYLIK_URETILEN_URUN_KODU], [AYLIK_URETILEN_URUN_ADI], [AYLIK_URUN_URETIM_TARIHI], [AYLIK_URETIM_HEDEFI], [URUN_URETEN_ID], [URUN_URETIM_HATTI], [AYLIK_GERCEKLESEN_URETIM]) VALUES (2, 2, N'Samsung Tablet', CAST(N'2020-01-01T00:00:00.0000000' AS DateTime2), 8000, 2, 1, 1320)
INSERT [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001] ([ID], [AYLIK_URETILEN_URUN_KODU], [AYLIK_URETILEN_URUN_ADI], [AYLIK_URUN_URETIM_TARIHI], [AYLIK_URETIM_HEDEFI], [URUN_URETEN_ID], [URUN_URETIM_HATTI], [AYLIK_GERCEKLESEN_URETIM]) VALUES (4, 7, N'Iphone 8', CAST(N'2019-01-01T00:00:00.0000000' AS DateTime2), 9250, 1, 2, 2800)
SET IDENTITY_INSERT [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[COGRAFIK_BOLGELER_20202425001] ON 

INSERT [dbo].[COGRAFIK_BOLGELER_20202425001] ([COGRAFIK_BOLGE_ID], [COGRAFIK_BOLGE_ADI]) VALUES (1, N'Akdeniz Bölgesi')
INSERT [dbo].[COGRAFIK_BOLGELER_20202425001] ([COGRAFIK_BOLGE_ID], [COGRAFIK_BOLGE_ADI]) VALUES (2, N'Doğu Anadolu Bölgesi')
INSERT [dbo].[COGRAFIK_BOLGELER_20202425001] ([COGRAFIK_BOLGE_ID], [COGRAFIK_BOLGE_ADI]) VALUES (3, N'Ege Bölgesi')
SET IDENTITY_INSERT [dbo].[COGRAFIK_BOLGELER_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[HAMMEDDELER_20202425001] ON 

INSERT [dbo].[HAMMEDDELER_20202425001] ([HAMMADDE_ID], [HAMMADDE_ADI], [TEDARIKCI_ID], [HAMMADDE_CIKARILAN_COGRAFIK_BOLGE], [TEDARIKCI_UNVANI], [TEDARIKCI_ADRESI], [TEDARIKCI_TELEFON_NO]) VALUES (1, N'Alüminyum', 1, 2, N'ALÜMİNYUM SATICISI', N'MAHMUT BİÇER', N'541-294-91-93')
INSERT [dbo].[HAMMEDDELER_20202425001] ([HAMMADDE_ID], [HAMMADDE_ADI], [TEDARIKCI_ID], [HAMMADDE_CIKARILAN_COGRAFIK_BOLGE], [TEDARIKCI_UNVANI], [TEDARIKCI_ADRESI], [TEDARIKCI_TELEFON_NO]) VALUES (2, N'Tungsten', 2, 1, N'TUNGSTEN SATICISI', N'AHMET KUŞ', N'512-924-19-75')
INSERT [dbo].[HAMMEDDELER_20202425001] ([HAMMADDE_ID], [HAMMADDE_ADI], [TEDARIKCI_ID], [HAMMADDE_CIKARILAN_COGRAFIK_BOLGE], [TEDARIKCI_UNVANI], [TEDARIKCI_ADRESI], [TEDARIKCI_TELEFON_NO]) VALUES (3, N'Platin', 3, 4, N'PLATİN SATICISI', N'VELİ TARAK', N'554-375-72-84')
SET IDENTITY_INSERT [dbo].[HAMMEDDELER_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[HATALI_URUNLER_20202425001] ON 

INSERT [dbo].[HATALI_URUNLER_20202425001] ([HATA_ID], [TARIH], [HATA_ACIKLAMASI]) VALUES (1, CAST(N'2021-01-01T00:00:00.000' AS DateTime), N'EKRAN ÇATLAMASI')
INSERT [dbo].[HATALI_URUNLER_20202425001] ([HATA_ID], [TARIH], [HATA_ACIKLAMASI]) VALUES (2, CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'PİL ÖMRÜ BİTİK')
INSERT [dbo].[HATALI_URUNLER_20202425001] ([HATA_ID], [TARIH], [HATA_ACIKLAMASI]) VALUES (4, CAST(N'2019-01-01T00:00:00.000' AS DateTime), N'ÇOK YAVAŞ')
SET IDENTITY_INSERT [dbo].[HATALI_URUNLER_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[ISKONTOLAR_20202425001] ON 

INSERT [dbo].[ISKONTOLAR_20202425001] ([ID], [YAPILACAK_ISKONTO_ORANI]) VALUES (1, 10)
INSERT [dbo].[ISKONTOLAR_20202425001] ([ID], [YAPILACAK_ISKONTO_ORANI]) VALUES (2, 15)
INSERT [dbo].[ISKONTOLAR_20202425001] ([ID], [YAPILACAK_ISKONTO_ORANI]) VALUES (3, 20)
SET IDENTITY_INSERT [dbo].[ISKONTOLAR_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[KREDİ_KARTLI_SATIŞLAR_/_EFT_HAVALE_SATIŞLAR_20202425001] ON 

INSERT [dbo].[KREDİ_KARTLI_SATIŞLAR_/_EFT_HAVALE_SATIŞLAR_20202425001] ([ODEME_YONTEMI_ID], [ODEME_YONTEMI]) VALUES (1, N'KREDI KARTI')
INSERT [dbo].[KREDİ_KARTLI_SATIŞLAR_/_EFT_HAVALE_SATIŞLAR_20202425001] ([ODEME_YONTEMI_ID], [ODEME_YONTEMI]) VALUES (2, N'EFT')
INSERT [dbo].[KREDİ_KARTLI_SATIŞLAR_/_EFT_HAVALE_SATIŞLAR_20202425001] ([ODEME_YONTEMI_ID], [ODEME_YONTEMI]) VALUES (3, N'HAVALE')
SET IDENTITY_INSERT [dbo].[KREDİ_KARTLI_SATIŞLAR_/_EFT_HAVALE_SATIŞLAR_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[MAL_GRUPLARI_20202425001] ON 

INSERT [dbo].[MAL_GRUPLARI_20202425001] ([MAL_GRUBU_ID], [MAL_GRUBU]) VALUES (1, N'CEP TELEFONU')
INSERT [dbo].[MAL_GRUPLARI_20202425001] ([MAL_GRUBU_ID], [MAL_GRUBU]) VALUES (2, N'TABLET')
SET IDENTITY_INSERT [dbo].[MAL_GRUPLARI_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001] ON 

INSERT [dbo].[MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001] ([CALISAN_ID], [CALISAN_SICIL_NO], [CALISAN_ADI], [CALISAN_SOYADI], [CALISAN_MAAS], [CALISAN_ISE_GIRIS_TAR], [CALISAN_TELEFON_NO], [CALISAN_YAKA_TIPI], [CALISAN_URETIM_HATTI]) VALUES (1, 123, N'Atakan', N'Acaroğlu', CAST(9821.00 AS Decimal(18, 2)), CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'544-522-35-35', N'Mavi', 1)
INSERT [dbo].[MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001] ([CALISAN_ID], [CALISAN_SICIL_NO], [CALISAN_ADI], [CALISAN_SOYADI], [CALISAN_MAAS], [CALISAN_ISE_GIRIS_TAR], [CALISAN_TELEFON_NO], [CALISAN_YAKA_TIPI], [CALISAN_URETIM_HATTI]) VALUES (2, 1234, N'Ece', N'Yalçın', CAST(4123.00 AS Decimal(18, 2)), CAST(N'2021-01-01T00:00:00.000' AS DateTime), N'532-521-24-92', N'Beyaz', 2)
SET IDENTITY_INSERT [dbo].[MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[MUSTERILER_20202425001] ON 

INSERT [dbo].[MUSTERILER_20202425001] ([MUSTERI_ID], [MUSTERI_ADI], [MUSTERI_YASADIGI_IL], [MUSTERI_YASADIGI_COGRAFIK_BOLGE]) VALUES (1, N'Atakan Acaroğlu', N'Antalya', 1)
INSERT [dbo].[MUSTERILER_20202425001] ([MUSTERI_ID], [MUSTERI_ADI], [MUSTERI_YASADIGI_IL], [MUSTERI_YASADIGI_COGRAFIK_BOLGE]) VALUES (2, N'Ali Bulut', N'Ağrı', 2)
INSERT [dbo].[MUSTERILER_20202425001] ([MUSTERI_ID], [MUSTERI_ADI], [MUSTERI_YASADIGI_IL], [MUSTERI_YASADIGI_COGRAFIK_BOLGE]) VALUES (3, N'Ece Yalçın', N'İzmir', 3)
SET IDENTITY_INSERT [dbo].[MUSTERILER_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[SATIS_KANALLARI_20202425001] ON 

INSERT [dbo].[SATIS_KANALLARI_20202425001] ([SATIS_KANALI_ID], [SATIS_KANALI]) VALUES (1, N'Toptan Satış')
INSERT [dbo].[SATIS_KANALLARI_20202425001] ([SATIS_KANALI_ID], [SATIS_KANALI]) VALUES (2, N' Kurumsal Satış')
INSERT [dbo].[SATIS_KANALLARI_20202425001] ([SATIS_KANALI_ID], [SATIS_KANALI]) VALUES (3, N'Perakende Satış')
SET IDENTITY_INSERT [dbo].[SATIS_KANALLARI_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[SATIŞ_SORUMLULARI_20202425001] ON 

INSERT [dbo].[SATIŞ_SORUMLULARI_20202425001] ([SATIS_SORUMLUSU_ID], [SATIS_SORUMLUSU_ISMI], [SATIS_SORUMLUSU_SOYISMI], [SATIS_SORUMLUSU_TEL_NO], [SATIS_SORUMLUSU_MAAS], [SATIS_HEDEFI], [YAPTIGI_SATIS_ADETI]) VALUES (1, N'Ahmet', N'Sakin', N'0544-522-39-91', CAST(5000.00 AS Decimal(18, 2)), 1000, 1101)
INSERT [dbo].[SATIŞ_SORUMLULARI_20202425001] ([SATIS_SORUMLUSU_ID], [SATIS_SORUMLUSU_ISMI], [SATIS_SORUMLUSU_SOYISMI], [SATIS_SORUMLUSU_TEL_NO], [SATIS_SORUMLUSU_MAAS], [SATIS_HEDEFI], [YAPTIGI_SATIS_ADETI]) VALUES (2, N'Mehmet', N'Atalay', N'0532-325-29-53', CAST(5000.00 AS Decimal(18, 2)), 1000, 900)
INSERT [dbo].[SATIŞ_SORUMLULARI_20202425001] ([SATIS_SORUMLUSU_ID], [SATIS_SORUMLUSU_ISMI], [SATIS_SORUMLUSU_SOYISMI], [SATIS_SORUMLUSU_TEL_NO], [SATIS_SORUMLUSU_MAAS], [SATIS_HEDEFI], [YAPTIGI_SATIS_ADETI]) VALUES (3, N'Anıl', N'Biçer', N'0534-814-49-81', CAST(5000.00 AS Decimal(18, 2)), 1000, 1500)
SET IDENTITY_INSERT [dbo].[SATIŞ_SORUMLULARI_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[SEVKIYATLAR_20202425001] ON 

INSERT [dbo].[SEVKIYATLAR_20202425001] ([ID], [SEVKIYAT_CIKIS_YERI], [SEVKIYAT_TARIHI], [SEVKIYAT_SIRKETI], [SEVKIYAT_VARIS_NOKTASI]) VALUES (1, 1, CAST(N'2021-01-01T00:00:00.000' AS DateTime), N'Sürat Kargo', 2)
INSERT [dbo].[SEVKIYATLAR_20202425001] ([ID], [SEVKIYAT_CIKIS_YERI], [SEVKIYAT_TARIHI], [SEVKIYAT_SIRKETI], [SEVKIYAT_VARIS_NOKTASI]) VALUES (2, 2, CAST(N'2020-08-21T00:00:00.000' AS DateTime), N'MNG Kargo', 1)
INSERT [dbo].[SEVKIYATLAR_20202425001] ([ID], [SEVKIYAT_CIKIS_YERI], [SEVKIYAT_TARIHI], [SEVKIYAT_SIRKETI], [SEVKIYAT_VARIS_NOKTASI]) VALUES (3, 3, CAST(N'2019-12-28T00:00:00.000' AS DateTime), N'ARAS Kargo', 3)
SET IDENTITY_INSERT [dbo].[SEVKIYATLAR_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[URETIM_HATLARI_20202425001] ON 

INSERT [dbo].[URETIM_HATLARI_20202425001] ([ID], [URETIM_HATTI]) VALUES (1, N'TAŞIMA BANDI')
INSERT [dbo].[URETIM_HATLARI_20202425001] ([ID], [URETIM_HATTI]) VALUES (2, N'MONTAJ HATTI')
INSERT [dbo].[URETIM_HATLARI_20202425001] ([ID], [URETIM_HATTI]) VALUES (3, N'AKIŞ HATTI')
SET IDENTITY_INSERT [dbo].[URETIM_HATLARI_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[URETIM_RECETELERI_20202425001] ON 

INSERT [dbo].[URETIM_RECETELERI_20202425001] ([URETIM_RECETE_ID], [GEREKLI_HAMMADDELER]) VALUES (1, 2)
INSERT [dbo].[URETIM_RECETELERI_20202425001] ([URETIM_RECETE_ID], [GEREKLI_HAMMADDELER]) VALUES (2, 1)
INSERT [dbo].[URETIM_RECETELERI_20202425001] ([URETIM_RECETE_ID], [GEREKLI_HAMMADDELER]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[URETIM_RECETELERI_20202425001] OFF
GO
SET IDENTITY_INSERT [dbo].[URUNLER_20202425001] ON 

INSERT [dbo].[URUNLER_20202425001] ([URUN_ID], [URUN_ADI], [URETIM_RECETESI], [SATIS_SORUMLUSU], [SATIN_ALAN_MUSTERI], [BIRIM_FIYAT], [MAL_GRUPLARI]) VALUES (1, N'Iphone7', 2, 1, 4, CAST(1000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[URUNLER_20202425001] ([URUN_ID], [URUN_ADI], [URETIM_RECETESI], [SATIS_SORUMLUSU], [SATIN_ALAN_MUSTERI], [BIRIM_FIYAT], [MAL_GRUPLARI]) VALUES (2, N'Samsung Tablet', 1, 3, 2, CAST(2000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[URUNLER_20202425001] ([URUN_ID], [URUN_ADI], [URETIM_RECETESI], [SATIS_SORUMLUSU], [SATIN_ALAN_MUSTERI], [BIRIM_FIYAT], [MAL_GRUPLARI]) VALUES (7, N'Iphone 8', 3, 4, 1, CAST(3000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[URUNLER_20202425001] OFF
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_HATALI_URUNLER_20202425001] FOREIGN KEY([HATA_ACIKLAMASI_ID])
REFERENCES [dbo].[HATALI_URUNLER_20202425001] ([HATA_ID])
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] CHECK CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_HATALI_URUNLER_20202425001]
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_ISKONTOLAR_20202425001] FOREIGN KEY([ISKONTO_ORANI])
REFERENCES [dbo].[ISKONTOLAR_20202425001] ([ID])
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] CHECK CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_ISKONTOLAR_20202425001]
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_KREDİ_KARTLI_SATIŞLAR_/_EFT_HAVALE_SATIŞLAR_20202425001] FOREIGN KEY([ODENME_YONTEMI])
REFERENCES [dbo].[KREDİ_KARTLI_SATIŞLAR_/_EFT_HAVALE_SATIŞLAR_20202425001] ([ODEME_YONTEMI_ID])
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] CHECK CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_KREDİ_KARTLI_SATIŞLAR_/_EFT_HAVALE_SATIŞLAR_20202425001]
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_MAL_GRUPLARI_20202425001] FOREIGN KEY([MAL_GRUBU_])
REFERENCES [dbo].[MAL_GRUPLARI_20202425001] ([MAL_GRUBU_ID])
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] CHECK CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_MAL_GRUPLARI_20202425001]
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_MUSTERILER_20202425001] FOREIGN KEY([SATIN_ALAN_MUSTERI_ID])
REFERENCES [dbo].[MUSTERILER_20202425001] ([MUSTERI_ID])
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] CHECK CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_MUSTERILER_20202425001]
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_SATIS_KANALLARI_20202425001] FOREIGN KEY([SATIS_KANALI])
REFERENCES [dbo].[SATIS_KANALLARI_20202425001] ([SATIS_KANALI_ID])
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] CHECK CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_SATIS_KANALLARI_20202425001]
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_SATIŞ_SORUMLULARI_20202425001] FOREIGN KEY([SATIS_SORUMLUSU])
REFERENCES [dbo].[SATIŞ_SORUMLULARI_20202425001] ([SATIS_SORUMLUSU_ID])
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] CHECK CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_SATIŞ_SORUMLULARI_20202425001]
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_URUNLER_202024250011] FOREIGN KEY([SATILAN_URUN_KODU])
REFERENCES [dbo].[URUNLER_20202425001] ([URUN_ID])
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001] CHECK CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_GERÇEKLESENLER_20202425001_URUNLER_202024250011]
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001_MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001] FOREIGN KEY([URUN_URETEN_ID])
REFERENCES [dbo].[MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001] ([CALISAN_ID])
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001] CHECK CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001_MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001]
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001_URETIM_HATLARI_20202425001] FOREIGN KEY([URUN_URETIM_HATTI])
REFERENCES [dbo].[URETIM_HATLARI_20202425001] ([ID])
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001] CHECK CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001_URETIM_HATLARI_20202425001]
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001_URUNLER_20202425001] FOREIGN KEY([AYLIK_URETILEN_URUN_KODU])
REFERENCES [dbo].[URUNLER_20202425001] ([URUN_ID])
GO
ALTER TABLE [dbo].[AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001] CHECK CONSTRAINT [FK_AYLIK_URETIM_VE_SATIS_HEDEFLERI_20202425001_URUNLER_20202425001]
GO
ALTER TABLE [dbo].[HAMMEDDELER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_HAMMEDDELER_20202425001_COGRAFIK_BOLGELER_20202425001] FOREIGN KEY([HAMMADDE_CIKARILAN_COGRAFIK_BOLGE])
REFERENCES [dbo].[COGRAFIK_BOLGELER_20202425001] ([COGRAFIK_BOLGE_ID])
GO
ALTER TABLE [dbo].[HAMMEDDELER_20202425001] CHECK CONSTRAINT [FK_HAMMEDDELER_20202425001_COGRAFIK_BOLGELER_20202425001]
GO
ALTER TABLE [dbo].[MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001_URETIM_HATLARI_20202425001] FOREIGN KEY([CALISAN_URETIM_HATTI])
REFERENCES [dbo].[URETIM_HATLARI_20202425001] ([ID])
GO
ALTER TABLE [dbo].[MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001] CHECK CONSTRAINT [FK_MAVİ_YAKALI_BEYAZ_YAKALI_ÇALIŞANLAR_20202425001_URETIM_HATLARI_20202425001]
GO
ALTER TABLE [dbo].[MUSTERILER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERILER_20202425001_COGRAFIK_BOLGELER_20202425001] FOREIGN KEY([MUSTERI_YASADIGI_COGRAFIK_BOLGE])
REFERENCES [dbo].[COGRAFIK_BOLGELER_20202425001] ([COGRAFIK_BOLGE_ID])
GO
ALTER TABLE [dbo].[MUSTERILER_20202425001] CHECK CONSTRAINT [FK_MUSTERILER_20202425001_COGRAFIK_BOLGELER_20202425001]
GO
ALTER TABLE [dbo].[SEVKIYATLAR_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_SEVKIYATLAR_20202425001_COGRAFIK_BOLGELER_20202425001] FOREIGN KEY([SEVKIYAT_CIKIS_YERI])
REFERENCES [dbo].[COGRAFIK_BOLGELER_20202425001] ([COGRAFIK_BOLGE_ID])
GO
ALTER TABLE [dbo].[SEVKIYATLAR_20202425001] CHECK CONSTRAINT [FK_SEVKIYATLAR_20202425001_COGRAFIK_BOLGELER_20202425001]
GO
ALTER TABLE [dbo].[SEVKIYATLAR_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_SEVKIYATLAR_20202425001_MUSTERILER_20202425001] FOREIGN KEY([SEVKIYAT_VARIS_NOKTASI])
REFERENCES [dbo].[MUSTERILER_20202425001] ([MUSTERI_ID])
GO
ALTER TABLE [dbo].[SEVKIYATLAR_20202425001] CHECK CONSTRAINT [FK_SEVKIYATLAR_20202425001_MUSTERILER_20202425001]
GO
ALTER TABLE [dbo].[URETIM_RECETELERI_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_URETIM_RECETELERI_20202425001_HAMMEDDELER_202024250011] FOREIGN KEY([GEREKLI_HAMMADDELER])
REFERENCES [dbo].[HAMMEDDELER_20202425001] ([HAMMADDE_ID])
GO
ALTER TABLE [dbo].[URETIM_RECETELERI_20202425001] CHECK CONSTRAINT [FK_URETIM_RECETELERI_20202425001_HAMMEDDELER_202024250011]
GO
ALTER TABLE [dbo].[URUNLER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_URUNLER_20202425001_MUSTERILER_20202425001] FOREIGN KEY([SATIN_ALAN_MUSTERI])
REFERENCES [dbo].[MUSTERILER_20202425001] ([MUSTERI_ID])
GO
ALTER TABLE [dbo].[URUNLER_20202425001] CHECK CONSTRAINT [FK_URUNLER_20202425001_MUSTERILER_20202425001]
GO
ALTER TABLE [dbo].[URUNLER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_URUNLER_20202425001_URETIM_RECETELERI_20202425001] FOREIGN KEY([URETIM_RECETESI])
REFERENCES [dbo].[URETIM_RECETELERI_20202425001] ([URETIM_RECETE_ID])
GO
ALTER TABLE [dbo].[URUNLER_20202425001] CHECK CONSTRAINT [FK_URUNLER_20202425001_URETIM_RECETELERI_20202425001]
GO
ALTER TABLE [dbo].[URUNLER_20202425001]  WITH CHECK ADD  CONSTRAINT [FK_URUNLER_20202425001_URUNLER_20202425001] FOREIGN KEY([URUN_ID])
REFERENCES [dbo].[URUNLER_20202425001] ([URUN_ID])
GO
ALTER TABLE [dbo].[URUNLER_20202425001] CHECK CONSTRAINT [FK_URUNLER_20202425001_URUNLER_20202425001]
GO
USE [master]
GO
